@import "input";

body {
  background: #3a3535;
  color: #f4f4f4;
}
$breakpoint-tablet: 768px;

.progress {
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
}
.w3-container {
  display: none;
}

#dropbox {
  display: flex;
  justify-content: center;
  border: 2px dashed;
  height: 20vh;
  width: 50vmax;
  margin-right: auto;
  margin-left: auto;
}
.main-heading {
  margin-bottom: 0px;
  font-size: 6rem;
}
.btn {
  display: none !important;
}
label {
  font-size: 2rem;
}
@media (max-width: $breakpoint-tablet) {
  #dropbox {
    height: 20vh;
    width: 100vw;
  }
  .w3-light-grey {
    width: 100vw;
  }
}
#urlOutPut {
  display: none;
}
.desc {
  font-size: 3.5rem;
  font-weight: 200;
}  